body{
    background-image: url(./image/back.jpg);
    background-size:cover;
    min-width: 650px;
    max-width: 1000px;
    margin: auto
}

#header{
    min-width: 100%;
    max-width: 100%;    
}

#header h1{
    background-image: url(./image/panorama.jpg);
    background-size: cover;
    background-position-y: 50%;
    position: absolute;
    height: 200px;
    width: 73%;
    margin: 10px 10px 10px 0px;
    padding-top: 15px;
    padding-left: 20px;

}

#header img{
    position: relative;
    width: 18%;
    margin-top: 20px;
    margin-left: 750px;

}

p{
    margin-top: 40px;
    margin-left: 10px;
}

#batsanyi{
    width: 450px;
    background-color: #5B9CEA;
    float:left;
    padding: 20px;
}

table{
    background-color: #b0d1f1;
    border-collapse: collapse;
}

td{
    border: 1px solid
}

.data{
    font-weight: bold;
    text-align: center;
}

#bel{
    width: 450px;
    background-color: #5B9CEA;
    float: right;
    padding: 20px;
}

a:hover{
    background-color: red;
}